{% extends '/modules/org/views/layouts/main.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ this.module.assetsUrl }}/static/css/activity/fz.css" />
{% endblock %}

{% block bodyAttr %} onselectstart="return false" onselect="return
false" {% endblock %}

{% block content %}
  
<!--内容-->
<div class="c_1">
    <div  class="c_2">
       <div class="c_3">
                <a class="c_4" href="/org/default/index"></a>
                <a class="c_5" href="/org/default/zl">设置</a>
                <a class="c_6" href="/org/default/costdetail">款项</a>
                <a class="c_7" href="/org/default/index">活动</a>
         <div class="clear"></div>
       </div>
    </div>
</div>

 <div class="c1_1">
      <div class="c1_2">
          <a class="c1_3" href="/org/default/index">首页</a>
          <a class="c1_4" href="/org/default/activity">活动发布</a>
          <a class="c1_5" href="/org/default/data">活动数据</a>
          <div class="clear"></div>
      </div>
 </div>

<div class="c2_1"></div>


 <div class="c3_1">
      <div class="c3_2">
          <!--左-->
         <div class="c3_3">
             <a href="/org/default/bm?id={{aid}}" class="bm"></a>
             <a href="/org/default/fz?id={{aid}}" class="fz"></a>
             <a href="/org/default/qd?id={{aid}}" class="qd"></a>
             <a href="/org/default/mag?id={{aid}}" class="mag"></a>
             <a href="/org/default/Photo?id={{aid}}" class="xp"></a>
             <div class="clear"></div>
         </div>
         <!--右-->
         <div class="c3_4">
            <div class="c3_4_1">报名成员（<span>0</span>人）</div>
            <div class="c3_4_2"></div>
            <div class="c3_4_3">
                <!-- 循环头像 --> 
                <!--循环头像end-->
                 <div class="clear"></div>
            </div>
            <div class="c3_4_4"></div>
            <div class="c3_4_5">
                <div class="c3_4_5_1">
                    <div  class="c3_4_5_2">
                        <span>每组 
                          <input type="text"  style="width: 85px;height:38px;text-align: center;font-size: 22px;color: #666666;" maxlength="4"/> 人
                        </span>
                    </div>
                    <div  class="c3_4_5_3"></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="c3_4_6"></div>
            <div class="c3_4_7">
                <!--循环分组-->
               
                 
                 
               <!--分组end-->
                <div class="clear"></div>
            </div>
         </div>
         <form id="groups_form" name="groups_form" method="post" onsubmit="return false;">
           
         </form>

         <div class="clear"></div>
      </div>
      <div class="c3_5"></div>
 </div>

{% endblock %}

{% block javascript %}
	<script> 
         var url='{{ this.module.assetsUrl }}';
	 	seajs.use('{{ this.module.assetsUrl }}/static/js/hashmap/activity.fz.js',function (fz) {
            fz.init('{{ aid }}');
            //alert(fz.inited);//获取初始化状态
        });
	</script>
   <div  class="zu_ren_move_mask"></div>
{% endblock %}