{% extends '/modules/org/views/layouts/main.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ this.module.assetsUrl }}/static/css/activity/Photo.css" />
{% endblock %}
{% block content %}
 
<!--内容-->
<div class="c_1">
    <div  class="c_2">
       <div class="c_3">
                <a class="c_4" href="/org/default/index"></a>
                <a class="c_5" href="/org/default/zl">设置</a>
                <a class="c_6" href="/org/default/costdetail">款项</a>
                <a class="c_7" href="/org/default/index">活动</a>
         <div class="clear"></div>
       </div>
    </div>
</div>

 <div class="c1_1">
      <div class="c1_2">
          <a class="c1_3" href="/org/default/index">首页</a>
          <a class="c1_4" href="/org/default/activity">活动发布</a>
          <a class="c1_5" href="/org/default/data">活动数据</a>
      <div class="clear"></div>
 </div>

<div class="c2_1"></div>


 <div class="c3_1">
      <div class="c3_2">
          <!--左-->
         <div class="c3_3">
             <a href="/org/default/bm?id={{aid}}" class="bm"></a>
             <a href="/org/default/fz?id={{aid}}" class="fz"></a>
             <a href="/org/default/qd?id={{aid}}" class="qd"></a>
             <a href="/org/default/mag?id={{aid}}" class="mag"></a>
             <a href="/org/default/Photo?id={{aid}}" class="xp"></a>
             <div class="clear"></div>
         </div>
         <!--右-->
         <div class="c3_4">
            <div class="c3_4_1">
                <div class="Photo_up" id="Photo_up_btn"> </div>

                <div class="Photo_up upload">开始上传</div>
            </div>
            <div class="c3_4_2"></div>
            <div class="c3_4_3">共(<span>0</span>)张图片</div>
            <div class="c3_4_2"></div>
            <div class="c3_4_4">
              <!--循环图片-->
               

                
                
                
                
              <!--循环图片end-->
                <div class="clear"></div>
            </div>
            
         </div>
      </div>
 </div>

 
 

{% endblock %}

{% block javascript %}

 
	<script>
         var url='{{ this.module.assetsUrl }}';

          var userLogo = '{{ App.user.getLogoImgUrl }}@40w_40h_1e_0c_50Q_1x.jpg';
         //console.log(seajs);
      //console.log(seajs);
	  	seajs.use('{{ this.module.assetsUrl }}/static/js/hashmap/activity.photo.js',function (photo) {
          photo.init('{{ aid }}');
      });
	</script>
{% endblock %}